{% extends "base.html" %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block content %}
<p style="font-size: 1.7em; margin-top: 1em; margin-bottom: 1em;" class= "text-center">Choose what you want to see:</p>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 mb-3">
                        <a href="pokemon/">
                            <button class="btn btn-outline-primary btn-lg btn-block">
                                <img src="{% static 'pokemon.png' %}" alt="Pokemons" class="img-fluid">
                                <span>Pokemons</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="trainer/">
                        <button class="btn btn-outline-primary btn-lg btn-block">
                            <img src="{% static 'trainer.png' %}" alt="Trainers" class="img-fluid" width="128" height="128">
                            <span>Trainers</span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}    

